<!-- templates/base.html -->

{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>

                <li><a href="{% url 'base' %}">Home</a></li>

                    <!-- If user is not authenticated, show "Sign Up" and "Sign In" links -->
                    <li><a href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                <!-- Add other navigation links as needed -->
            </ul>
        </nav>
    </header>

    <section>
        <div class="container">
        <table class="crypto-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for crypto in cryptos %}
                <tr data-href="{% url 'generate_price_history_graph' crypto.id %}">
                    <td><img class="crypto-logo" src="{{ crypto.logo.url }}" alt="{{ crypto.name }}"></td>
                    <td>{{ crypto.name }}</td>
                    <td>${{ crypto.price_usd | floatformat:2 | intcomma }}</td>
                    <td>${{ crypto.market_cap | intcomma}}</td>
                    <td>${{ crypto.volume | intcomma}}</td>
                </tr>
                {% endfor %}
            </tbody>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const rows = document.querySelectorAll("tr[data-href]");
                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
        </script>
        </table>
    </div>
    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>
