{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <!-- If user is authenticated, show username and "Logout" link -->

                    <li style="font-weight: bold">Hello, {{ user.username }}!</li>
                    {% if user.userprofile.id_photo.url %}
                        <!-- Display the user's profile photo if available -->
                        <li><img src="{{  user.userprofile.id_photo.url }}" alt="Profile Photo" height="50"></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <!-- If user is not authenticated, show "Sign Up" and "Sign In" links -->
                    <li><a href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                {% endif %}
                <!-- Add other navigation links as needed -->
            </ul>
        </nav>
    </header>

    <section>
        <div class="coin-details">
            <div class="coin-header">
                <div class="header-content">
                    <img src="{{ coin_details.icon_url }}" alt="{{ coin_details.symbol }}" height="50" width="50" />
                    <div class="coin-info">
                        <h1>{{ coin_details.name }}</h1>
                        <p>({{ coin_details.symbol }}) &nbsp;</p>
                        <p class="rank-box">#{{ coin_details.rank }} </p>
                        <p style="font-weight: bold"> &nbsp;{{ coin_details.price }}</p>
                    </div>
                </div>
            </div>
        <div style="margin-top: 30px">
                <canvas id="priceChart"></canvas>
        </div>

    <div class="chart-info">
      <p style="font-weight: bold;font-size: large">Price chart</p>
      <div class="change-info">
        <p>24h</p>
        <p style="font-weight: bold" class="{% if coin_details.change >= 0 %}positive{% else %}negative{% endif %} ">{{ coin_details.change }}%</p>
      </div>
      <div class="change-info">
        <p>High </p>
        <p style="font-weight: bold">${{ high_price }}</p>
      </div>
       <div class="change-info">
         <p>Low</p>
         <p style="font-weight: bold">${{ low_price }}</p>
       </div>
       <div class="change-info">
         <p>Average</p>
         <p style="font-weight: bold"> ${{ average_price }}</p>
       </div>
    </div>

 <div class="chart-and-buyers">
    <div style="margin-top: 30px">
      <canvas id="priceChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Your cleaned_sparkline_data from the Django context
        const sparklineData = {{ cleaned_sparkline_data|safe }};
        const chartData = sparklineData.map(value => parseFloat(value));
        const timeLabels = ['6am','7am','8am','9am','10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm', '8pm', '9pm', '10pm', '11pm'];


            const ctx = document.getElementById('priceChart').getContext('2d');
            const priceChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: timeLabels,
                    datasets: [{
                        label: '{{ coin_details.name }}',
                        data: chartData,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.01
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            });

    </script>



    </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>