<!-- templates/base.html -->

{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>
            <li class="currency-dropdown">
                <form method="get" action="{% url 'home' %}">
                    <select name="currency" id="select-currency" onchange="this.form.submit()">
                        {% for currency in currencies %}
                        <option value="{{ currency.code }}" {% if requested_currency_code == currency.code %}selected{% endif %}>
                            {{ currency.code }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </li>

                <li><a href="{% url 'home' %}">Home</a></li>


                {% if user.is_authenticated %}
                    <!-- If user is authenticated, show username and "Logout" link -->
                    <li style="font-weight: bold">Hello, {{ user.username }}!</li>
                    {% if user.userprofile.id_photo.url %}
                        <!-- Display the user's profile photo if available -->
                        <li><img src="{{  user.userprofile.id_photo.url }}" alt="Profile Photo" height="50"></li>
                    {% endif %}
                    <li><a href="{% url 'feedback_view' %}">Discussion</a></li>
                    <li><a href="{% url 'Payment_History' %}">Transactions</a></li>
                    <li><a href="{% url 'add_money' %}" class="wallet-icon">&#x1F4B0;</a>{{ wallet.amount}}</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <!-- If user is not authenticated, show "Sign Up" and "Sign In" links -->
                    <li><a href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                {% endif %}
                <!-- Add other navigation links as needed -->
            </ul>
        </nav>
    </header>

    <section>
        <div class="container">
        <table class="crypto-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Market Cap</th>
                    <th>Volume</th>
                    <th>Buy</th> <!-- Empty header for the Buy button -->
                    <th>Sell</th>
                </tr>
            </thead>
            <tbody>
                {% for crypto in cryptos %}
                <tr data-href="{% url 'generate_price_history_graph' crypto.id %}">
                    <td><img class="crypto-logo" src="{{ crypto.logo.url }}" alt="{{ crypto.name }}"></td>
                    <td>{{ crypto.name }}</td>
                    <td>${{ crypto.price_usd | floatformat:2 | intcomma }}</td>
                    <td>${{ crypto.market_cap | intcomma}}</td>
                    <td>${{ crypto.volume | intcomma}}</td>
                    <td><a href="{% url 'buy_crypto' crypto.id %}" class="buy-button">Buy</a></td>
                    <td><a href="{% url 'sell_crypto' crypto.id %}" class="sell-button">Sell</a></td>
                </tr>
                {% endfor %}
            </tbody>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const rows = document.querySelectorAll("tr[data-href]");
                rows.forEach(row => {
                    row.addEventListener("click", () => {
                        window.location.href = row.dataset.href;
                    });
                });
            });
        </script>
        </table>
    </div>
    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>
