<!-- templates/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>
            <li><form method="get" action="">
                <label for="currency">Choose a currency:</label>
                <select name="currency" id="currency" onchange="this.form.submit()">
                <option value="CAD" {% if requested_currency_code == 'CAD' %}selected{% endif %}>CAD</option>
                <option value="EUR" {% if requested_currency_code == 'EUR' %}selected{% endif %}>EUR</option>
                <option value="INR" {% if requested_currency_code == 'INR' %}selected{% endif %}>INR</option>
                </select>
                </form></li>
                <li><a href="{% url 'base' %}">Home</a></li>

                {% if user.is_authenticated %}
                    <!-- If user is authenticated, show username and "Logout" link -->
                    <li style="font-weight: bold">Hello, {{ user.username }}!</li>
                    {% if user.userprofile.id_photo.url %}
                        <!-- Display the user's profile photo if available -->
                        <li><img src="{{  user.userprofile.id_photo.url }}" alt="Profile Photo" height="50"></li>
                    {% endif %}
                    <li><a href="{% url 'Payment_History' %}">Transactions</a></li>
                    <li><a href="{% url 'add_money' %}" class="wallet-icon">&#x1F4B0;</a></li>
                    <li>{{ wallet.amount }}</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <!-- If user is not authenticated, show "Sign Up" and "Sign In" links -->
                    <li><a href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
                {% endif %}
                <!-- Add other navigation links as needed -->
            </ul>
        </nav>
    </header>

    <section>
        <div class="container">
        <h1>Cryptocurrencies</h1>
        <table class="crypto-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Price in Requested Currency</th>
                    <th>Market Cap</th>
                    <th>Volume</th>
                    <th>Circulating Supply</th>
                    <th>Buy/Sell</th> <!-- Empty header for the Buy button -->
                </tr>
            </thead>
            <tbody>
                {% for crypto in cryptos %}
                <tr>
                    <td><img class="crypto-logo" src="{{ crypto.logo.url }}" alt="{{ crypto.name }}"></td>
                    <td><a href="{% url 'crypto_detail' crypto.name %}">{{ crypto.name }}</a></td>
                    <td>$ {{ crypto.price_usd | floatformat:2 }}</td>
                    <td>{{ crypto.converted_price | floatformat:2 }}</td>
                    <td>$ {{ crypto.market_cap }}</td>
                    <td>$ {{ crypto.volume }}</td>
                    <td>$ {{ crypto.supply }}</td>
                    <td><a href="{% url 'buy_crypto' crypto.id %}" class="buy-button">Buy</a>
                        <a href="{% url 'sell_crypto' crypto.id %}" class="buy-button">Sell</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>
