<!-- templates/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>
                <li><a href="{% url 'base' %}">Home</a></li>
                <li><a href="{% url 'registration' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <head>
            <link rel="stylesheet" href="{% static 'user_management/login.css' %}">
        <title>Login</title>
        </head>

  <h2>Forgot Password</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.new_password.label_tag }}
      {{ form.new_password }}
      {% for error in form.new_password.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.confirm_password.label_tag }}
      {{ form.confirm_password }}
      {% for error in form.confirm_password.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <button type="submit">Reset Password</button>

  </form>


    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>



