{% extends 'user_management/base.html' %}
{% load static %}

{% block content %}
  <head>
      <link rel="stylesheet" href="{% static 'user_management/login.css' %}">
      <title>Forgot Password</title>
  </head>

  <h2>Forgot Password</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
      {% for error in form.username.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
      {% for error in form.email.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.new_password.label_tag }}
      {{ form.new_password }}
      {% for error in form.new_password.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="form-group">
      {{ form.confirm_password.label_tag }}
      {{ form.confirm_password }}
      {% for error in form.confirm_password.errors %}
        <p class="error">{{ error }}</p>
      {% endfor %}
    </div>

    <button type="submit">Reset Password</button>
  </form>
{% endblock %}
