<!-- templates/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trade Pulse{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'user_management/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <img src="{% static 'user_management/trade_pulse_logo.png' %}" alt="Trade Pulse Logo" height="100">

        <nav>
            <ul>
                    <li><a href="{% url 'registration' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <head>
      <link rel="stylesheet" href="{% static 'user_management/login.css' %}">
    <title>Login</title>
  </head>

  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <!-- Apply styles to individual form elements -->
    <div>
      <label for="{{ form.username.id_for_label }}">Username</label>
      {{ form.username }}
    </div>

    <div>
      <label for="{{ form.password.id_for_label }}">Password</label>
      {{ form.password }}
    </div>

    {% if form.non_field_errors %}
      <p class="error-message">{{ form.non_field_errors.0 }}</p>
    {% endif %}

    <button type="submit">Login</button>

  </form>

     <div class="forgot-password">
    <a href="{% url 'forgot_password' %}">Forgot Password?</a>
  </div>
    </section>

    <footer>
        <p>&copy; 2023 Trade Pulse. All rights reserved.</p>
    </footer>
</body>
</html>

