/* Add this to your existing CSS file */
.coin-details .coin-header {
  background-color: #f0f0f0; /* Adjust the background color as needed */
  padding: 10px;
}

.coin-details .header-content  {
  display: flex;
  align-items: center;
}

/* Add this to your existing CSS file */
.coin-details .coin-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.coin-details .rank-box {
  background-color: #FFD700; /* Adjust the background color as needed */
  color: #000; /* Adjust the text color as needed */
  padding: 3px;
  border-radius: 5px;
  font-weight: inherit;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.chart-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 1px solid #ccc; /* Add a bottom border for the line */
}

.chart-info p {
  margin: 0;
}

/* Add this to your existing CSS file or create a new one */
.change-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.change-info p {
  margin: 0 5px; /* Adjust the margin as needed */
}


