h2 {
        color: #427D9D;
        text-align: center; /* Center the heading */
      }

      form {
        max-width: 400px;
        margin: auto;
        background-color: #f9f9f9; /* Form background color */
        padding: 20px;
        border: 1px solid #ddd; /* Form border */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Form shadow */
        text-align: left;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #427D9D; /* Label color */
      }

      input {
        width: calc(100% - 16px);
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ccc; /* Input border */
        border-radius: 5px;
      }

      .error-message {
        color: red;
        margin-top: 5px;
        font-size: 14px; /* Adjust font size */
      }

      button {
        width: 100%;
        background-color: #427D9D;
        color: white;
        padding: 10px 0; /* Adjust vertical padding */
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .forgot-password {
        text-align: center;
        margin-top: 10px;
      }

      .forgot-password a {
        color: #427D9D;
        text-decoration: underline;
      }